/* POST CONTENT */

blockquote {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    opacity: .7;
    display: flex;
    margin: 4.8rem 0;

}

blockquote::before {
    content: url(../img/quote.svg);
    margin-right: 2.4rem;
}

.post-page {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}

.post-page__content img {
    width: 100%;
    border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
}

.post-link {
    color: var(--color-primary);
    text-transform: inherit;
    font-size: inherit;
    text-decoration: underline;
    
}

.caption {
    font-style: italic;
    font-size: 16px;
    display: block;
    padding: 1.6rem 0;
    text-align: center;
    margin-bottom: 3.2rem;
}

.post-page__author img,
.author-bio__img img
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.post-page h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.post-page__content p:first-child::first-letter {
    font-size: 4.8rem;
}

.post-page__author {
    display: flex;
    align-items: center;
    margin: 3.2rem 0;
    font-size: 1.4rem;
}

.post-page__author img{
    width: 4rem;
    margin-right: 1.6rem;
}

.author-name {
    font-family: Libre Baskerville;
    margin-bottom: .6rem;
}

img.post-img {
    display: block;
    margin-top: 5.6rem;
}