.blog-posts .container{
    /* display: flex;
    justify-content: space-evenly; */
}

.blog-post {
    width: 33%;
}

.blog-post__img img {
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.blog-post__date {
    font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
    opacity: .6;
    font-size: 1.5rem;
}

.blog-post__title {
    font-size: 2rem;
    margin: 1.6rem 0;
}

.blog-post__btn a{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.6rem;
    
    transition: all ease-in-out .3s;
}

.blog-post__btn a:hover {
    color: var(--color-secondary);
}

.blog-post__btn a::before {
    content: url(../img/chevron.svg);
    margin-right: 1rem;
    vertical-align: center;
    position: relative;

    transition: all ease-in-out .3s;
}

.blog-post__btn a:hover::before {
    position: relative;
    
    transform: translateX(8px);
    -webkit-transform: t;
    -moz-transform: t;
    -ms-transform: t;
    -o-transform: t;
}