.blog-posts .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.4rem;
    
}

.blog-post {
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    padding: 1.6rem;
    transition: all easeease-in-out .3s;
    -webkit-transition: all easeease-in-out .3s;
    -moz-transition: all easeease-in-out .3s;
    -ms-transition: all easeease-in-out .3s;
    -o-transition: all easeease-in-out .3s;
}

.blog-post:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
}

.blog-post__img img {
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.blog-post__date {
    font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
    opacity: .6;
    font-size: 1.5rem;
}

.blog-post__title {
    font-size: 2rem;
    margin: 1.6rem 0;
}

.blog-post__btn a{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.6rem;
    
    transition: all ease-in-out .3s;
}

.blog-post__btn a:hover {
    color: var(--color-secondary);
}

.blog-post__btn a::before {
    content: url(../img/chevron.svg);
    margin-right: 1rem;
    vertical-align: center;
    position: relative;

    transition: all ease-in-out .3s;
}

.blog-post__btn a:hover::before {
    position: relative;
    
    transform: translateX(8px);
    -webkit-transform: t;
    -moz-transform: t;
    -ms-transform: t;
    -o-transform: t;
}