*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*setupsizingforusingREM*/font-size: 62.5%;

    --color-text: #4F4F4F;
    --color-primary: #5E7D8E;
    --color-primary-hover: #487893;
    --color-secondary: #B09669;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: lato, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.container {
    margin: 0 auto;
    max-width: 90rem;
}

.btn {
    height: 4.8rem;
    color: #fff;
    padding: 0 1.6rem;
    border-radius: 4px;
    font-size: 1.6rem;

    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
}

.btn a{
    color: #fff;
}

.btn-primary{
    background: var(--color-primary);
}

.btn-primary:hover{
    background: var(--color-primary-hover);
}