nav .container{
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

.nav__menu ul {
    display: flex;

}

.menu-item {
    margin-left: 4rem;
    position: relative;
}

.menu-item a:hover {
    color: var(--color-primary);
}

.menu-item a,
.menu-item a::before {
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.menu-item a::before {
    content: '';
    display: block;
    height: .2rem;
    width: 0%;
    background: var(--color-primary);
    position: absolute;
    bottom: -8px;
    opacity: .0;
}

.menu-item a:hover::before {
    background: var(--color-primary);
    opacity: 1;
    width: 100%;
}